<?xml version="1.0" encoding="utf-8"?>
<Settings Version="3.26">
  <AutoLegendHeightMaximum>10</AutoLegendHeightMaximum>
  <IsStatusBarVisible>true</IsStatusBarVisible>
  <ReperLabelPosition>Auto</ReperLabelPosition>
  <ShowItemsByDescription>true</ShowItemsByDescription>
  <DoUseInterpolation>false</DoUseInterpolation>
  <ReperThickness>1</ReperThickness>
  <ShowReperMilliseconds>false</ShowReperMilliseconds>
  <DoShowAxisUnit>false</DoShowAxisUnit>
  <ShowTextOnModeSwitch>false</ShowTextOnModeSwitch>
  <RangeLow>0</RangeLow>
  <RangeHigh>100</RangeHigh>
  <YAxisPrecision>2</YAxisPrecision>
  <DefaultThickness>1</DefaultThickness>
  <SelectedGraphicThicknessIncrement>2</SelectedGraphicThicknessIncrement>
  <PrintSettings>
    <PrinterName>Microsoft XPS Document Writer</PrinterName>
  </PrintSettings>
  <ToolbarSettings>
    <ShowHistOperBtns>true</ShowHistOperBtns>
    <ShowShowMarkersBtn>false</ShowShowMarkersBtn>
    <ShowHandBtn>true</ShowHandBtn>
    <ShowZoomTool>true</ShowZoomTool>
    <ShowRepersBtn>true</ShowRepersBtn>
    <ShowHorizontalRepersBtn>true</ShowHorizontalRepersBtn>
    <ShowRemoveRepersBtn>true</ShowRemoveRepersBtn>
    <ShowIndividualScaleBtn>true</ShowIndividualScaleBtn>
    <ShowRangeSwitcherBtn>true</ShowRangeSwitcherBtn>
    <ShowUnitsBtn>false</ShowUnitsBtn>
    <ShowSourcesTreeBtn>false</ShowSourcesTreeBtn>
    <ShowSettingsBtn>false</ShowSettingsBtn>
    <ShowOpenFileBtn>false</ShowOpenFileBtn>
    <ShowSaveToFileBtn>false</ShowSaveToFileBtn>
    <ShowPrintBtn>true</ShowPrintBtn>
    <ShowScreenShotBtn>true</ShowScreenShotBtn>
    <ShowMinitrendsBtn>false</ShowMinitrendsBtn>
    <ShowShowReperPanelBtn>false</ShowShowReperPanelBtn>
    <ShowTableBtn>false</ShowTableBtn>
    <ShowAutoScaleLegendBtn>false</ShowAutoScaleLegendBtn>
    <ShowScalingBtns>true</ShowScalingBtns>
    <ShowScaleVerHorOnlyBtns>false</ShowScaleVerHorOnlyBtns>
    <ShowPlayPauseBtn>false</ShowPlayPauseBtn>
    <ShowIncDecDateBtn>false</ShowIncDecDateBtn>
    <ShowHelpBtn>true</ShowHelpBtn>
    <ShowDefaultScale>true</ShowDefaultScale>
    <ShowRequestBtn>true</ShowRequestBtn>
    <ShowInterval>true</ShowInterval>
    <ShowAddSurfaceBtn>false</ShowAddSurfaceBtn>
    <ShowLoginBtn>false</ShowLoginBtn>
  </ToolbarSettings>
  <WindowMode>Fixed</WindowMode>
  <WindowBounds>
    <X>2</X>
    <Y>46</Y>
    <Width>1916</Width>
    <Height>976</Height>
  </WindowBounds>
  <WindowState>Normal</WindowState>
  <ImportExport>
    <SignalsFolder>C:\Users\Public\Documents</SignalsFolder>
    <DataFolder>C:\Users\Public\Documents</DataFolder>
    <ImagesFolder>C:\Users\Public\Documents</ImagesFolder>
    <TablesFolder>C:\Users\Public\Documents</TablesFolder>
  </ImportExport>
  <Security>
    <UsingSecurity>false</UsingSecurity>
    <SaveKnownUsers>true</SaveKnownUsers>
    <IsScreenKeyboardEnabled>true</IsScreenKeyboardEnabled>
    <ScreenKeyboardFileName>osk.exe</ScreenKeyboardFileName>
    <ApplicationName>Trends</ApplicationName>
  </Security>
  <Log>
    <ImportanceFilter>
      <Error>true</Error>
      <Warning>true</Warning>
      <Information>true</Information>
    </ImportanceFilter>
    <Debug>false</Debug>
  </Log>
  <ActiveModeGraphicsRepaintInterval>1000</ActiveModeGraphicsRepaintInterval>
  <ActiveModeOperativeInterval>30</ActiveModeOperativeInterval>
  <ShowQuality>false</ShowQuality>
  <OperativeSurfing>true</OperativeSurfing>
  <OperativeRedLine>false</OperativeRedLine>
  <UsingUserProfile>false</UsingUserProfile>
  <UpdateRate>1000</UpdateRate>
  <OperativeViewInterval>10</OperativeViewInterval>
  <ActiveReperThicknessInc>2</ActiveReperThicknessInc>
  <HistoryDiskUse>false</HistoryDiskUse>
  <AllowOpenAlarms>false</AllowOpenAlarms>
  <AllowOpenForm>false</AllowOpenForm>
  <TreeFilterEnable>true</TreeFilterEnable>
  <Palette />
  <SelectedReperColor>Green</SelectedReperColor>
  <ReperColor>Blue</ReperColor>
</Settings>